src/main/resources/schemas/anatqc/neuroinfo.xsd

<!-- AnatQC -->
<xs:schema targetNamespace="http://www.neuroinfo.org/neuroinfo"
           xmlns:neuroinfo="http://www.neuroinfo.org/neuroinfo"
           xmlns:xnat="http://nrg.wustl.edu/xnat"
           xmlns:xdat="http://nrg.wustl.edu/xdat"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
    <xs:import namespace="http://nrg.wustl.edu/xdat" schemaLocation="../xdat/xdat.xsd"/>
    <xs:element name="AnatQC" type="neuroinfo:anatqc"/>
    <xs:complexType name="anatqc">
        <xs:complexContent>
            <xs:extension base="xnat:imageAssessorData">
                <xs:sequence>
                    <xs:element name="t1w_scan_id" type="xs:string"/>
                    <xs:element name="vnav_scan_id" type="xs:string"/>
                    <xs:element name="session_label" type="xs:string"/>
                    <xs:element name="mriqc">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="cjv" type="xs:decimal"/>
                                <xs:element name="cnr" type="xs:decimal"/>
                                <xs:element name="efc" type="xs:decimal"/>
                                <xs:element name="fber" type="xs:decimal"/>
                                <xs:element name="fwhm_avg" type="xs:decimal"/>
                                <xs:element name="fwhm_x" type="xs:decimal"/>
                                <xs:element name="fwhm_y" type="xs:decimal"/>
                                <xs:element name="fwhm_z" type="xs:decimal"/>
                                <xs:element name="icvs_csf" type="xs:decimal"/>
                                <xs:element name="icvs_gm" type="xs:decimal"/>
                                <xs:element name="icvs_wm" type="xs:decimal"/>
                                <xs:element name="inu_med" type="xs:decimal"/>
                                <xs:element name="inu_range" type="xs:decimal"/>
                                <xs:element name="qi_1" type="xs:decimal"/>
                                <xs:element name="qi_2" type="xs:decimal"/>
                                <xs:element name="rpve_csf" type="xs:decimal"/>
                                <xs:element name="rpve_gm" type="xs:decimal"/>
                                <xs:element name="rpve_wm" type="xs:decimal"/>
                                <xs:element name="size_x" type="xs:decimal"/>
                                <xs:element name="size_y" type="xs:decimal"/>
                                <xs:element name="size_z" type="xs:decimal"/>
                                <xs:element name="snr_csf" type="xs:decimal"/>
                                <xs:element name="snr_gm" type="xs:decimal"/>
                                <xs:element name="snr_total" type="xs:decimal"/>
                                <xs:element name="snr_wm" type="xs:decimal"/>
                                <xs:element name="snrd_csf" type="xs:decimal"/>
                                <xs:element name="snrd_gm" type="xs:decimal"/>
                                <xs:element name="snrd_total" type="xs:decimal"/>
                                <xs:element name="snrd_wm" type="xs:decimal"/>
                                <xs:element name="spacing_x" type="xs:decimal"/>
                                <xs:element name="spacing_y" type="xs:decimal"/>
                                <xs:element name="spacing_z" type="xs:decimal"/>
                                <xs:element name="summary_bg_k" type="xs:decimal"/>
                                <xs:element name="summary_bg_mad" type="xs:decimal"/>
                                <xs:element name="summary_bg_mean" type="xs:decimal"/>
                                <xs:element name="summary_bg_median" type="xs:decimal"/>
                                <xs:element name="summary_bg_n" type="xs:decimal"/>
                                <xs:element name="summary_bg_p05" type="xs:decimal"/>
                                <xs:element name="summary_bg_p95" type="xs:decimal"/>
                                <xs:element name="summary_bg_stdv" type="xs:decimal"/>
                                <xs:element name="summary_csf_k" type="xs:decimal"/>
                                <xs:element name="summary_csf_mad" type="xs:decimal"/>
                                <xs:element name="summary_csf_mean" type="xs:decimal"/>
                                <xs:element name="summary_csf_median" type="xs:decimal"/>
                                <xs:element name="summary_csf_n" type="xs:decimal"/>
                                <xs:element name="summary_csf_p05" type="xs:decimal"/>
                                <xs:element name="summary_csf_p95" type="xs:decimal"/>
                                <xs:element name="summary_csf_stdv" type="xs:decimal"/>
                                <xs:element name="summary_gm_k" type="xs:decimal"/>
                                <xs:element name="summary_gm_mad" type="xs:decimal"/>
                                <xs:element name="summary_gm_mean" type="xs:decimal"/>
                                <xs:element name="summary_gm_median" type="xs:decimal"/>
                                <xs:element name="summary_gm_n" type="xs:decimal"/>
                                <xs:element name="summary_gm_p05" type="xs:decimal"/>
                                <xs:element name="summary_gm_p95" type="xs:decimal"/>
                                <xs:element name="summary_gm_stdv" type="xs:decimal"/>
                                <xs:element name="summary_wm_k" type="xs:decimal"/>
                                <xs:element name="summary_wm_mad" type="xs:decimal"/>
                                <xs:element name="summary_wm_mean" type="xs:decimal"/>
                                <xs:element name="summary_wm_median" type="xs:decimal"/>
                                <xs:element name="summary_wm_n" type="xs:decimal"/>
                                <xs:element name="summary_wm_p05" type="xs:decimal"/>
                                <xs:element name="summary_wm_p95" type="xs:decimal"/>
                                <xs:element name="summary_wm_stdv" type="xs:decimal"/>
                                <xs:element name="tpm_overlap_csf" type="xs:decimal"/>
                                <xs:element name="tpm_overlap_gm" type="xs:decimal"/>
                                <xs:element name="tpm_overlap_wm" type="xs:decimal"/>
                                <xs:element name="wm2max" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="morph">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="mri_cnr_tot" type="xs:decimal"/>
                                <xs:element name="wm_anat_snr" type="xs:decimal"/>
                                <xs:element name="lh_euler_holes" type="xs:integer"/>
                                <xs:element name="lh_cnr" type="xs:decimal"/>
                                <xs:element name="lh_gm_wm_cnr" type="xs:decimal"/>
                                <xs:element name="lh_gm_csf_cnr" type="xs:decimal"/>
                                <xs:element name="rh_euler_holes" type="xs:integer"/>
                                <xs:element name="rh_cnr" type="xs:decimal"/>
                                <xs:element name="rh_gm_wm_cnr" type="xs:decimal"/>
                                <xs:element name="rh_gm_csf_cnr" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="vnav" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="vnav_min" type="xs:integer" minOccurs="0"/>
                                <xs:element name="vnav_max" type="xs:integer" minOccurs="0"/>
                                <xs:element name="vnav_acq_tot" type="xs:integer" minOccurs="0"/>
                                <xs:element name="vnav_reacq" type="xs:integer" minOccurs="0"/>
                                <xs:element name="mean_mot_rms_per_min" type="xs:decimal" minOccurs="0"/>
                                <xs:element name="mean_mot_max_per_min" type="xs:decimal" minOccurs="0"/>
                                <xs:element name="vnav_failed" type="xs:integer" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="manual" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="wrap" type="xs:string" minOccurs="0"/>
                                <xs:element name="cover" type="xs:string" minOccurs="0"/>
                                <xs:element name="motion_brain" type="xs:string" minOccurs="0"/>
                                <xs:element name="motion_out" type="xs:string" minOccurs="0"/>
                                <xs:element name="ghost_brain" type="xs:string" minOccurs="0"/>
                                <xs:element name="ghost_out" type="xs:string" minOccurs="0"/>
                                <xs:element name="spike" type="xs:string" minOccurs="0"/>
                                <xs:element name="art_brain" type="xs:string" minOccurs="0"/>
                                <xs:element name="art_out" type="xs:string" minOccurs="0"/>
                                <xs:element name="inhom" type="xs:string" minOccurs="0"/>
                                <xs:element name="overall" type="xs:string" minOccurs="0"/>
                                <xs:element name="comments" type="xs:string" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="imageResource" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="label" type="xs:string"/>
                                <xs:element name="uri" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
